<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">Employee Database</a>
  <button data-toggle="modal" data-target="#addModal">Add</button>
  <button data-toggle="modal" data-target="#updateModal">Update</button>
  <button data-toggle="modal" data-target="#deleteModal">Delete</button>
  <form class="form-inline input-group">
    <input class="form-control input-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 input-group-addon" type="submit">Search</button>
  </form>
</nav>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row bootstrap snippets bootdeys">
    <div *ngFor="let employee of employees" class="col-md-3">
      <div class="panel widget">
        <div class="widget-header bg-primary"></div>
        <div class="widget-body text-center">
          <img alt="Profile Picture" class="widget-img img-circle img-border-light" src="https://bootdey.com/img/Content/avatar/avatar1.png">
          <h4 class="mar-no">{{employee.firstName}} {{employee.lastName}}</h4>
          <h5>Id: {{employee.id}}</h5>
          <p class="text-muted mar-btm">{{employee.emailId}}</p>
        </div>
      </div>
    </div>
</div>

<!-- UPDATE -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
    <form #updateForm="ngForm" (ngSubmit)="onUpdateEmployee(updateForm)">
      <div class="form-group">
        <label for="firstNameUpdate">First Name</label>
        <input type="string" ngModel name ="firstName" class="form-control" id="firstNameUpdate" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <label for="lastNameUpdate">Last Name</label>
        <input type="string" ngModel name ="lastName" class="form-control" id="lastNameUpdate" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmailUpdate">Email address</label>
        <input type="email" ngModel name="emailId" class="form-control" id="exampleInputEmailUpdate" aria-describedby="emailHelp" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="passwordUpdate">Password</label>
        <input type="password" ngModel name="password" class="form-control" id="passwordUpdate" placeholder="Enter password" required>
      </div>
      <div class="form-group">
        <label for="roleUpdate">Role</label>
        <input type="string" ngModel name="role" class="form-control" id="roleUpdate"  placeholder="Enter role" required>
      </div>
      <button [disabled]="updateForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
      </div>
    </div>
  </div>
</div>

<!-- ADD -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
    <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="string" ngModel name ="firstName" class="form-control" id="firstName" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="string" ngModel name ="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" ngModel name="emailId" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Enter password" required>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input type="string" ngModel name="role" class="form-control" id="role"  placeholder="Enter role" required>
      </div>
      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
      </div>
    </div>
  </div>
</div>

<!-- DELETE -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
    <form #deleteForm="ngForm" (ngSubmit)="onDeleteEmployee(deleteForm)">
      <div class="form-group">
        <label for="id">Id to delete</label>
        <input type="number" ngModel name ="id" class="form-control" id="idDelete" placeholder="id" required>
      </div>
      <button [disabled]="deleteForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
      </div>
    </div>
  </div>
</div>
